<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Weather Forecaster</title>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

    <form action="/api/weather" method="POST">
        City:<br>
      <input type="text" id="city" name="city" placeholder="Input City">
        <br>
      <input type="submit" value="Search">
    </form>

  </body>
</html>